/* BenchPress styles */

/* Hide empty tablenav div to improve layout */
.tablenav.top {
    display: none;
}

.wp-list-table .column-execution_time,
.wp-list-table .column-memory_usage {
    text-align: right;
}

.wrap h1 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    padding-bottom: 15px;
}

.wrap .form-table select {
    width: 100%;
    max-width: 300px;
    padding: 5px;
    box-sizing: border-box;
}

#benchpress-refresh-btn,
#benchpress-snapshot-btn,
#benchpress-clear-snapshots-btn,
#benchpress-download-snapshots-btn {
    line-height: 22px;
    float: right;
    margin-left: 12px;
}

.wp-core-ui .delete-snapshot-btn,
.delete-snapshot-btn,
.wp-core-ui .view-data-btn,
.view-data-btn {
    line-height: 22px;
}